/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #2196f3;
  --main-color-hover: #1787e0;
  --main-transition: all 0.7s ease-in-out;
  --animation-up: move-up 1.5s infinite alternate-reverse;
  --animation-dowm: move-down 1.5s infinite alternate-reverse;
  --animation-bouncing: bouncing 1.5s infinite;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --main-background-color: #f5f5f5;
  --main-box-shadow: 0px 0px 15px 0px rgba(27, 27, 27, 0.1);
  --main-p-color: #777;
  --main-a-color: #ffe600;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  color: var(--main-p-color);
  line-height: 2;
  font-size: 1rem;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 768px) {
  .open {
    right: 100px;
  }
}
/*titel */
.title {
  text-align: center;
  margin-bottom: 100px;
}
.title h2 {
  font-size: 27px;
  color: #1b1b1b;
  letter-spacing: 18px;
  margin: 10px 30px;
  padding: 20px;
}
.title h5 {
  color: #707070;
  font-weight: 400;
  font-size: 15px;
  padding: 0px 70px;
  letter-spacing: 1px;
  line-height: 32px;
}
.back-to-top{
  position: fixed;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #1787e0;
  z-index: 999;
  color: #fff;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
Header
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.header {
  position: relative;
  background-color: black;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}
.header .container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menue_icon {
  width: 40px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: var(--main-transition);
}
.header .menue_icon span {
  width: 100%;
  background-color: var(--main-a-color);
  height: 3px;
  border-radius: 1rem;
  transition: var(--main-transition);
}
.header .menue_icon input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.header .menue_icon:hover span:nth-child(3) {
  width: 50%;
  transition: var(--main-transition);
}
.header .menue_icon.active {
  transition-delay: 0.8s;
  transform: rotate(45deg) translateY(15px) translateX(-5px);
}
.header .menue_icon:hover > span:nth-child(3) {
  width: 50%;
}
.header .menue_icon.active > span:nth-child(3) {
  width: 0;
}
.header .menue_icon.active > span:nth-child(3),
.header .menue_icon.active > span:nth-child(3) {
  transition-delay: 0.4s;
}
.header .menue_icon.active > span:nth-child(2) {
  transform: rotateY(10px);
}
.header .menue_icon.active > span:nth-child(4) {
  transform: translateY(-10px) rotate(90deg) translateX(-4px);
}
.header .main-nav {
  position: absolute;
  min-height: 100vh;
  right: -100%;
  top: 0;
  background-color: #1b1b1b;
  box-shadow: -8px 0px 10px 0px rgba(17, 18, 20, 0.3);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  transition: var(--main-transition);
}
.header .main-nav li a {
  padding: 30px 0px;
  color: #fbfbfb;
  font-size: 1.2rem;
  display: block;
}
.header .main-nav li a:hover {
  color: var(--main-a-color);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
Hero
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.hero {
  height: 75vh;
  width: 100%;
  position: relative;
  background-image: url("../img/hero.jpg");
  background-size: cover;
}
.hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}
.hero .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.hero h1 {
  color: #ececec;
  letter-spacing: 3px;
  font-family: "Raleway";
}
.hero h3 {
  color: var(--main-p-color);
  letter-spacing: 2px;
  font-family: "Raleway";
  margin-bottom: 30px;
  font-weight: normal;
}

.hero .btn > a {
  background-color: var(--main-a-color);
  padding: 18px 40px;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: 1px solid var(--main-a-color);
  color: black;
  cursor: pointer;
}
.hero .btn > a:hover {
  background-color: transparent;
  border: 1px solid var(--main-a-color);
  color: #fbfbfb;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
intro
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.intro {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.intro .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro img {
  width: 300px;
}
.intro p {
  padding: 20px;
  text-align: center;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
SERVICES
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.services {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: calc(var(--main-padding-bottom) / 2);
  background-color: var(--main-background-color);
}
.services .box-container .service-container,
.services .box-container .all-progress-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.services .box-container .service-container .service-box {
  text-align: center;
  padding: 50px 10px 20px 10px;
  box-shadow: var(--main-box-shadow);
  background-color: #fff;
  margin-bottom: 10px;
}
.service-box h4 {
  margin: 30px 0;
  color: var(--main-color);
}
.service-box p {
  font-size: 13px;
  padding: 10px;
  line-height: 1.7rem;
}
.services .box-container .progress-box {
  width: 100%;
  background-color: #fff;
  padding: 20px 10px 20px 10px;
  box-shadow: var(--main-box-shadow);
  margin-top: 15px;
}
.services .box-container .progress-box .progress {
  width: 100%;
  background-color: #f5f5f5;
  height: 6px;
  margin-top: 5px;
  border-radius: 1rem;
  display: flex;
}
.services .box-container .progress-box h5 {
  margin: 10px 1px;
  color: #2196f3;
}
.services .box-container .progress-box .progress span {
  display: block;
  background-color: var(--main-a-color);
  border-radius: 1rem;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
stats
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.stats {
  position: relative;
  background-color: #1b1b1b;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.stats .box {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.stats .box h4 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.stats .box p {
  font-weight: bold;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
portfolio
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.portfolio {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: calc(var(--main-padding-bottom) / 2);
}
.portfolio .shuffer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
.portfolio .shuffer li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  font-size: 13px;

  letter-spacing: 1px;
}
.portfolio .shuffer li a:hover {
  border-bottom: 2px solid var(--main-a-color);
  color: var(--main-p-color);
}
@media (max-width: 768px) {
  .portfolio .shuffer li img {
    display: none;
  }
}
.portfolio .portfolio-img-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 3px;
}
.portfolio .portfolio-img-container img {
  max-width: 100%;
  height: 350px;
}

.portfolio .portfolio-img-container .box {
  position: relative;
}
.portfolio .portfolio-img-container .box::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 90%;
  top: 7.5%;
  left: 10%;
  background-color: var(--main-a-color);
  opacity: 0;
  transition: var(--main-transition);
}

.portfolio .portfolio-img-container .box .info {
  position: absolute;
  top: 10%;
  bottom: 10%;
  background-color: #fff;
  height: 80%;
  margin: 10px 5px;
  padding: 10px;
  opacity: 0;
  transition: var(--main-transition);
}

.portfolio .portfolio-img-container .box .info p {
  font-size: 15px;
  text-align: center;
}
.portfolio .portfolio-img-container .box .info p:first-child {
  font-weight: bold;
  font-size: 17px;
}
.portfolio .portfolio-img-container .box:hover::before,
.portfolio .portfolio-img-container .box:hover .info {
  opacity: 1;
}
.portfolio .portfolio-btn {
  display: block;
  margin: 50px auto 0;
  text-align: center;
}
.portfolio .portfolio-btn a {
  padding: 20px 40px;
  background-color: var(--main-a-color);
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
.portfolio .portfolio-btn a:hover {
  background-color: #fff;
  border: 1px solid var(--main-a-color);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
video
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.video {
  background-color: var(--main-p-color);
  position: relative;
  padding-top: calc(var(--main-padding-top) * 1.2);
  padding-bottom: calc(var(--main-padding-bottom) * 1.2);
}
.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
}
.video .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video a {
  padding: 25px 60px;
  color: var(--main-a-color);
  border: 1px solid var(--main-a-color);
  font-weight: bold;
  letter-spacing: 1pxs;
}
.video a:hover {
  background-color: var(--main-a-color);
  color: #000;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
our-team
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.our-team {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.our-team .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}
.our-team .box-container .box {
  box-shadow: var(--main-box-shadow);
  background-color: #fff;
}
.our-team .box-container img {
  width: 100%;
}
.our-team .box-container .box h2 {
  background-color: var(--main-a-color);
  padding: 17px 0;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
  margin: 0;
}
.our-team .box-container .box .info {
  background-image: url("../img/axes-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  text-align: center;
  color: var(--main-p-color);
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 1px;
}
.our-team .quote-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.our-team .quote-container .box {
  flex-basis: 45%;
  background-color: #1b1b1b;
  padding: 50px;
  margin-bottom: -25%;
}
.our-team .quote-container .box p {
  font-size: 0.8rem;
  color: #bababa;
}

.our-team .quote-container .quote {
  flex-basis: 45%;
  text-align: center;
  margin-top: 15%;
}
.our-team .quote-container .quote p {
  font-size: 0.8rem;
  color: #1b1b1b;
  padding: 15px;
}
.our-team .quote-container .img {
  flex-basis: 45%;
  max-width: 100%;
}
.our-team .quote-container .img img {
  width: 100%;
}
.our-team .quote-container .quote p:last-child {
  text-align: left;
  color: #000;
  font-weight: bold;
}
.our-team .quote-container .quote:last-child p:last-child {
  text-align: right;
  color: #000;
  font-weight: bold;
}
.our-team .yellow {
  background-color: var(--main-a-color);
  width: 100%;
  height: 210px;
  position: absolute;
  z-index: -1;
  bottom: 16%;
  left: 0;
}
@media (max-width: 992px) {
  .our-team .quote-container {
    flex-direction: column;
  }
  .our-team .yellow {
    display: none;
  }
  .our-team .quote-container .box {
    margin: 0;
    text-align: center;
  }
  .our-team .quote-container .quote p:last-child,
  .our-team .quote-container .quote:last-child p:last-child {
    text-align: center;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
Footer
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.footer {
  position: relative;
  background-color: #1b1b1b;
  padding-top: calc(var(--main-padding-top) / 2);
  padding-bottom: calc(var(--main-padding-bottom) / 2);
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.footer .footer-head {
  margin-bottom: 30px;
  color: var(--main-a-color);
  font-size: 1rem;
  font-weight: normal;
}
.footer .box p {
  color: rgb(199, 194, 194);
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.footer .box:first-child p span {
  color: var(--main-a-color);
}
.footer .box ul li a {
  display: block;
  margin-bottom: 20px;
  color: #cacaca;
  font-size: 0.8rem;
}
.footer .box ul li a:hover {
  color: var(--main-a-color);
}
.footer .box > a {
  display: block;
  width: 100%;
  padding: 15px 40px;
  margin: 30px auto;
  text-align: center;
  color: #000;
  font-weight: bold;
  border-radius: 5rem;
  background-color: var(--main-a-color);
}
.footer .box > a:hover {
  background-color: transparent;
  color: #eee;
  border: 1px solid var(--main-a-color);
}
.footer .box .icon {
  display: flex;
  gap: 15px;
}
.footer .box .icon a i {
  color: #000;
  border-radius: 50%;
  background-color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .box .icon a:hover i {
  color: var(--main-a-color);
  background-color: #777;
}